
.cuon
{

	position: fixed;
	padding-top: 10px;
	text-align: center;
	margin-left:600px;
	width: 30px;
	height:30px;
	border: 2px solid black;
	z-index: 1000;
}
.cuon:hover{
	background: white;
	transform: scale(1.2);
}
